<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout :: head}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div th:replace="~{layout :: nav}"></div>

    <div class="container mt-4" id="content">
      <h2>Bienvenue dans la Gestion des Vols de l'Agence de Voyages</h2>

      <div class="row mt-4">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Vols</h5>
              <p class="card-text">Voir et gérer tous les vols</p>
              <a href="/flights" class="btn btn-primary">Voir les Vols</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Recherche par Avion</h5>
              <p class="card-text">Trouver les vols par avion</p>
              <a href="/flights/by-airplane" class="btn btn-primary"
                >Rechercher</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Recherche par Date et Ville</h5>
              <p class="card-text">Trouver les vols par date et ville</p>
              <a href="/flights/by-date-city" class="btn btn-primary"
                >Rechercher</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="~{layout :: scripts}"></div>
  </body>
</html>
